body {
    background-color:#d5ecc2;
}

.banner {
    border-radius: 15px;
    width: 1000px;
    margin: 50px auto ;
    display: block;
    
}

.navbar {
    background-color:#98ddca;
    font-family: 'Krona One', sans-serif;
    color: white;
    margin:0px;
    
    
}

.navbar > ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    
}


.navbar > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border: white;
    width:150px;
    padding: 25px;
}    
.navbar > ul > li  {
    
    text-align: center;
    float: left;
    border-right: 1px solid rgb(150, 209, 180);

}




.anasayfa-icerik {
    
    max-width: 1500px;
    border: 5px solid #ffaaa7;
    margin: 100px auto 150px auto;
    background-color: #ffd3b4;
    padding: 10px 10px;
    text-align: center;
    list-style-position: inside;
    font-family: 'Exo', sans-serif;
    border-radius: 5px;
}

.footer {
    background-color:#98ddca;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    padding: 10px;
}

.item-images {

    width: 400px;

}

.urunler-icerik {
    max-width: 1500px;
    border: 5px solid #ffaaa7;
    margin: 100px auto 150px auto;
    background-color: white;
    padding: 10px 10px;
    text-align: center;
    list-style-position: inside;
    font-family: 'Exo', sans-serif;
    border-radius: 5px;
}
.urunler-icerik  > section > ol > li {
    
    
    padding: 60px;
    font-size: 20px;
}

.urunler-icerik > section > ol > p {
    
    font-size: 20px;
    padding-bottom: 15px;
}

.hakkimizda-icerik
{
    max-width: 1500px;
    border: 5px solid #ffaaa7;
    margin: 100px auto 150px auto;
    background-color: white;
    padding: 10px 10px;
    text-align: left;
    padding-left: 30px;
    list-style-position: inside;
    font-family: 'Exo', sans-serif;
    border-radius: 5px;

}

.hakkimizda-icerik > section > h2, h4 {
    color: chocolate;
    margin: 0 10 0 10;

} 
